body{
    background-color: rgb(153, 201, 245);
    text-align: center;
    width: 90%;
    margin: auto;

    header{
        width: 50%;
        margin: auto;
        color: white;
    }
    main{
        margin: auto;
        .wordToGuess{
            background-color: white;
            width: 40%;
            margin: auto;
            margin-bottom: 10px;
            border: 3px solid  rgb(65, 90, 236);
            border-radius: 5px;
            }
        .score{
            margin-top: 0;
            margin-bottom: 10px;
            display: flex;
            flex-flow: row;
            border: 3px solid white;
            .dataScore{
                width: 40%;
                margin-bottom: 0;
            }
        }
        .start{
           background-color: rgb(224, 224, 233);
           width: 25%;
           font-size: 15px;
           border:2px solid rgb(65, 90, 236);
           border-radius: 5px;
           margin: auto; 
        }
        .keyboard{
            margin: auto;
            background-color: rgb(252, 247, 247);
            width: 60%;
            height:220px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            text-align: center;
            .letter{
                width: 78px;
                font-size: 15px;
                border:2px solid rgb(65, 90, 236);
                border-radius: 5px;
            }
        }
    }
    footer{
        margin: auto;
        margin-top: 10px;
        width: 50%;
        color: rgb(220, 222, 226);
    }
}